@charset "UTF-8";
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, tfoot,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit; }

mark {
  background-color: #008c98;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

input, select, textarea {
  outline: none; }

body {
  font: 12px/1.231 sans-serif;
  *font-size: small; }

select, input, textarea, button {
  font: 99% sans-serif; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

body, select, input, textarea {
  color: #444; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

html {
  overflow-y: scroll; }

ul, ol {
  margin-left: 0; }

ol {
  list-style-type: decimal; }

li {
  list-style: none; }

nav ul, nav li {
  margin: 0; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super;
  font-size: smaller; }

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

textarea {
  overflow: auto; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

label, input[type=button], input[type=submit], button {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

::-moz-selection {
  background: #343436;
  color: #fff;
  text-shadow: 1px 1px 1px #000; }

::selection {
  background: #343436;
  color: #fff;
  text-shadow: 5px 5px 5px #000; }

button {
  width: auto;
  overflow: visible; }

.hidden {
  display: none;
  visibility: hidden; }

.invisible {
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

img {
  width: 100%;
  height: auto;
  display: block; }

body  {
  margin: 0 !important;
  padding: 0 !important;
  font-family: sofia-pro, sans-serif; }

h2 {
  font-size: 0.4rem;
  font-weight: 800;
  line-height: 0.45rem;
  color: #000; }

h3 {
  font-size: 0.35rem;
  font-weight: 800;
  line-height: 0.4rem;
  color: #000; }

p {
  font-family: sofia-pro, sans-serif;
  font-size: 0.14rem;
  line-height: 0.22rem;
  font-weight: 300;
  color: #878787; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  color: inherit;
  vertical-align: baseline;
  cursor: pointer; }
  a:focus, a:hover {
    text-decoration: none;
    color: inherit; }

:root {
  font-size: 100px; }

@media (min-width: 308px) {
  html,
  body {
    font-size: 1rem; } }
@media (min-width: 768px) {
  html,
  body {
    font-size: 1rem; } }
@media (min-width: 1024px) {
  html,
  body {
    font-size: 1rem; } }
@media (min-width: 1100px) {
  html,
  body {
    font-size: 1rem; } }
@media (min-width: 1280px) {
  html,
  body {
    font-size: 1rem; } }
@media (min-width: 1366px) {
  html,
  body {
    font-size: 1rem; } }
@media (min-width: 1440px) {
  html,
  body {
    font-size: 1rem; } }
@media (min-width: 1680px) {
  html,
  body {
    font-size: 1rem; } }
@media (min-width: 1920px) {
  html,
  body {
    font-size: 1rem; } }

/*# sourceMappingURL=common.css.map */
